* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Open Sans";
  font-size: 1rem;
  line-height: 1.6;
  background: darkgreen !important;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#main-wrapper {
  background: white;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box !important;
}

#main-wrapper {
  background: white;
}

#home-main {
  padding: 2rem;
}

.section-lead {
  font-size: 1.52rem;
  font-family: "Poppins";
  letter-spacing: 1px;
  color: #097347;
  padding: .5rem 0;
}

.navbar {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

#hero {
  min-height: 400px;
  padding: 0 2px;
  margin: 1rem 0 2rem;
}

#hero .hero-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  column-gap: 1rem;
}

#hero .hero-wrapper .hero-main {
  height: 100%;
  width: 100%;
  background: url(/images/slider-3.jpg) no-repeat center center/cover;
  color: #e1e1e1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
}

#hero .hero-wrapper .hero-main .slide {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  height: 100%;
  width: 100%;
}

#hero .hero-wrapper .hero-main .slide article {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#hero .hero-wrapper .hero-main .slide article h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#hero .hero-wrapper .hero-main .slide article p {
  color: #c0c5cb;
  font-size: .9rem;
  flex: 2;
}

#hero .hero-wrapper .hero-aside {
  display: grid;
  grid-template-rows: repeat(3, 1fr) 40px;
  background: #28394b;
  background: #232323;
  border-radius: 10px;
  align-items: center;
}

#hero .hero-wrapper .hero-aside > article {
  display: grid;
  color: #c0c5cb;
  padding-left: 1rem;
  grid-template-columns: 70px 1fr;
  gap: 0.5rem;
}

#hero .hero-wrapper .hero-aside > article a {
  color: white;
}

#hero .hero-wrapper .hero-aside > article:last-of-type {
  grid-template-columns: 1fr;
  padding: .5rem 1rem;
  text-align: center;
}

#hero .hero-wrapper .hero-aside > article:first-of-type {
  margin-top: 1rem;
}

#hero .hero-wrapper .hero-aside > article .contentBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1rem;
}

#hero .hero-wrapper .hero-aside > article .contentBox h5 {
  color: white;
  font-size: 1rem;
}

#hero .hero-wrapper .hero-aside > article .contentBox p {
  font-size: 12px;
}

#hero .hero-wrapper .hero-aside > article .imgBox {
  position: relative;
}

#hero .hero-wrapper .hero-aside > article .imgBox img {
  border-radius: 10px;
}

#hero .hero-wrapper .hero-aside > article .imgBox h5 {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: .9rem;
  background: darkgreen;
  width: 100%;
  text-align: center;
  padding: .4rem 0;
  text-transform: uppercase;
  font-family: "Poppins";
  border-radius: 5px;
}

.featured {
  padding: 0 1.2rem 2rem;
  border: 1px solid #cecece;
}

.featured .services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  margin-top: 1rem;
}

.featured .services > article {
  display: grid;
  grid-template-rows: 100px 1fr;
  gap: 1.5rem;
  place-items: center;
  background: #f2f2f2;
  padding: 2rem 2rem 1rem;
}

.featured .services > article .icon {
  height: 100px;
  width: 100px;
  background: limegreen;
  color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.featured .services > article .icon a {
  color: white;
}

.featured .services > article .icon:hover {
  background: darkgreen;
}

.featured .services > article .contentBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.featured .services > article .contentBox h4 {
  text-align: center;
  font-size: 1rem;
}

.featured .services > article .contentBox a {
  color: #232323;
}

.featured .services > article .contentBox p {
  font-size: 14px;
  flex: 2;
}

#home-aside {
  padding: 2rem 0 0 2rem;
}

#home-aside .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  padding: 0.5rem 1rem;
  color: #097347;
}

#home-aside .title h3 {
  font-size: 1.2rem;
}

#home-aside > article:not(:last-of-type) {
  margin-bottom: 1rem;
}

#home-aside > article {
  border: 1px solid #cecece;
}

#home-aside > article > article {
  padding: 1rem;
}

#home-aside > article img {
  border-radius: 5px;
}

#home-aside ul {
  margin: 0 1rem 1rem;
}

#home-aside ul li:first-of-type {
  margin-top: 1rem;
}

#home-aside ul li {
  background: #f2f2f2;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
  color: white;
  border-left: 3px solid darkgreen;
}

#home-aside ul li:hover, #home-aside ul li.current-cat {
  background: #bfbfbf;
}

#home-aside ul li a {
  color: black;
  font-weight: 300;
  text-transform: capitalize;
}

#home-aside ul li + li {
  margin-top: 3px;
}

#home-aside #searchform {
  display: flex;
  margin-bottom: 2rem;
}
