#hero {
  height: 400px;
  padding: 2rem;
}

#hero #hero-wrapper {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 4fr;
}

#hero #hero-wrapper .hero-aside {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: .4rem;
}

#hero #hero-wrapper .hero-aside > article {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: .4rem;
}

#hero #hero-wrapper .hero-aside > article .imgBox {
  width: 50px;
  height: 50px;
}

#hero #hero-wrapper .hero-aside > article .imgBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
